


    <div class="backgr2">
          <h1 class="title">About</h1>
    </div>

<div class="container">
    <div class="row unoR">
        <div class="col">
            <p>Ya en Oxford, en 1926 conoció a C.S. Lewis, otro profesor de la Universidad que al igual que Tolkien, estaba fascinado con la literatura fantástica y la creación de historias propias. Ambos formaron los Inklings, un club literario del que también formaron parte otros académicos y escritores de Oxford como Charles Williams y Owen Barfield. Solían reunirse en pubs como The Eagle & Child, y durante sus encuentros leían sus escritos y se criticaban entre ellos.</p>
            <p> John y Edith tuvieron cuatro hijos, el sacerdote John Francis Reuel (17 de noviembre de 1917 – 22 de enero de 2003), Michael Hilary Reuel (octubre de 1920 – 1984), Christopher Tolkien (21 de noviembre de 1924) y Priscila Anne Reuel (1929). Fue precisamente para sus hijos por lo que Tolkien escribió un cuento infantil titulado ‘El Hobbit‘, cuyas primeras líneas fueron redactadas por Tolkien mientras corregía unos exámenes. John dudaba que sus historias le pudieran interesar al público, aunque finalmente fue persuadido por su gran amigo C.S. Lewis para que publicara ‘El Hobbit‘. El cuento fue publicado en 1937 por la editorial George Allen & Unwin, y su gran éxito cogió por sorpresa a Tolkien. Casi de inmediato, su editor le pidió que escribiera una secuela, pues el público demandaba más historias sobre los hobbits. Y fue así como Tolkien comenzó a escribir la que sería su obra maestra y cumbre de la literatura fantástica del siglo XX: ‘El Señor de los Anillos‘. Tardó 12 años en escribir tan magna obra, y debido a su volumen, fue publicada en tres entregas. ‘La Comunidad del Anillo‘, ‘Las dos torres‘, ambas publicadas en 1954, y ‘El retorno del Rey‘, que vio la luz un año después, en 1955. Si el éxito de ‘El Hobbit‘ sorprendió a Tolkien, el monumental éxito y la repercusión mundial causadas por ‘El Señor de los Anillos‘ lo asombró y maravilló.</p> 
            <br>
            <hr>
            <p> Mientras trabajaba en la redacción de ‘El Señor de los Anillos‘, Tolkien publicó varias obras: el cuento corto ‘Hoja, de Niggle‘, publicado en 1939 en el periódico Dublin Review, y la novela ‘Egidio, el granjero de Ham‘, publicada por la editorial George Allen & Unwin en 1949. En 1962, y a petición de una tía suya, Tolkien publicó ‘Las aventuras de Tom Bombadil y otros poemas del Libro Rojo‘, una recopilación de 16 poemas, siendo sólo dos de ellos sobre el alegre Tom Bombadil. El resto son cuentos de hadas o relatos de bestiario en verso. Antes de su muerte, Tolkien publicó dos obras más: ‘Árbol y Hoja, y el poema Mitopoeia‘, un recopilatorio de varios cuentos publicado en 1964, y ‘El herrero de Wootton Mayor‘, cuento publicado en 1967.</p> 
            <br>
            <p> John se jubiló en 1959, dejando sus clases en Oxford, y en 1968, él y Edith se mudaron a la localidad de Bournemouth. Tras la muerte de Edith el 29 de noviembre de 1971, John hizo escribir sobre su lápida el nombre de Lúthien. Finalmente, John murió el 2 de septiembre de 1973. Un año y medio antes de morir, Tolkien fue nombrado Comendador de la Orden del Imperio Británico por la reina Isabel II el 28 de marzo de 1972, año en el que también la Universidad de Oxford le nombró Doctor Honoris Causa en Letras. Hoy, la tumba de John y Edith en el cementerio de Wolvercote de Oxford (lápida en la que aparecen grabados los nombres de Beren y Lúthien) es lugar de peregrinación obligada para los millones de admiradores de su obra.</p>
            <p>Para ampliar la información, podéis comprar la extensa biografía que escribió Humphrey Carpenter sobre el Maestro, titulada: ‘J.R.R. Tolkien: Una biografía‘.</p>
        </div>
        <div class="col">
           <h2>Datos Curiosos</h2>
           <ol>
               <li>Tolkien, fanático de los idiomas, aseguró que su apellido derivaba de la palabra alemana tollkuhn, la cual significa "temerario".</li>
               <li>Muchos creen que Tolkien es inglés de nacimiento, pero él nació en Orange Free State (actualmente, Sudáfrica). Cuando tenía tres años, su familia se mudó a Inglaterra.</li>
               <li>Cuando era un bebé, Tolkien fue secuestrado. Aparentemente, un joven criado, africano, estaba tan fascinando con el niño de piel blanca que se lo llevó a su casa para mostrárselo a su familia. Al día siguiente, regresó al bebé.</li>
               <li>Tolkien tenía una aversión por los autos y pasó la mayor parte de su vida adulta utilizando bicicletas y trenes.</li>
           </ol>
            <img style="width: 740px; height: 240px" src="https://evoluciongeek.com/files/blog/2014/33/tolkien03.jpg" alt="imageJrrT">
        </div>
        </div>
    </div>
    </div>
</div>
