

      <div class="backgr">
          <h1 class="title">J.R.R TOLKIEN</h1>
      </div>

<div class="container">
    <div class="row unoR">
        <div class="col">
            John Ronald Reuel Tolkien, conocido popularmente como J.R.R. Tolkien, 
            nació el 3 de enero de 1892 en la ciudad de Bloemfontein, en el Estado Libre de Orange 
            (actual Sudáfrica). Sus padres eran Arthur Reuel Tolkien y Mabel Suffield. 
            Por una tradición familiar, el pequeño recibió el mismo nombre que el de su abuelo paterno,
            John. Su segundo nombre, Ronald, fue idea de su madre, quien estaba convencida de que iba a ser una niña a la que quería llamar Rosalind. Finalmente, el nombre elegido como sustituto fue el de Ronald. Por último, también recibió el segundo nombre de su padre, Reuel, palabra derivada del antiguo hebreo cuyo significado es «próximo a Dios». Un dato curioso de la infancia del pequeño John, recogido por Humphrey Carpenter en «J.R.R. Tolkien: Una biografía» (publicada en España por Ediciones Minotauro), es que le picó una tarántula en el jardín de su casa en Bloemfontein. Cuando el pequeño John contaba apenas 3 años, en 1895, su madre, Mabel, agotada por el riguroso clima sudafricano, decidió regresar a Inglaterra con sus hijos, John (cuya salud también se vio afectada por el clima) y Hilary, que había nacido el 17 de febrero de 1894. <br>
            <hr>
            <p> Arthur, padre de John, se quedó en Sudáfrica al cargo de la venta de diamantes y otras piedras preciosas al Banco de Inglaterra. Sin embargo, Arthur falleció el 15 de febrero de 1896 a causa de una fiebre reumática. Después de tan trágica pérdida y sin ingresos, Mabel se fue a vivir con sus hijos junto a su familia en Birmingham, mudándose ese mismo año a la vecina localidad de Sarehole. La gran belleza de la campiña inglesa cautivó a John desde el primer momento, causándole una gran impresión, como queda patente en sus escritos. La madre de John, Mabel, se hizo cargo de su educación, enseñándole las bases del latín cuando apenas contaba 4 años, edad a la que el pequeño John ya sabía leer, y poco después, escribir de forma fluida. A tan tierna edad, ya se despertó en John su curiosidad y amor hacia los idiomas, pues uno de sus entretenimientos favoritos era el de inventar algunos idiomas propios.</p> 
            <br>
            <p> Cuando apenas contaba 12 años, John fue golpeado nuevamente por la tragedia, pues su madre Mabel falleció en 1904 a causa de unas complicaciones de la diabetes que padecía. John y su hermano pequeño, Hilary, quedaron entonces al cuidado del padre Francis Xavier Morgan, sacerdote católico (de origen jerezano) del Oratorio de Birmingham. John contaba 16 años cuando en 1908 conoció a la que se convertiría en el amor de su vida: Edith Mary Bratt. Sin embargo su relación no era bien vista por el padre Morgan, ya que pensaba que la chica distraía a John de los estudios. Después de varias advertencias y de un par de intentos de separar a los jóvenes, finalmente el padre Morgan acabó prohibiendo a John que mantuviera contacto alguno con Edith hasta que cumpliera 21 años. Con el paso de los años, John continuaba demostrando sus aptitudes lingüísticas, desarrollando lenguajes más elaborados mientras asistía a la King Edward’s School. En la escuela formó junto a sus amigos la Tea Club and Barrovian Society (T.C.B.S.), una hermandad que solía reunirse en los grandes almacenes Barrow para tomar el té (de ahí su nombre), charlar, divertirse, recitar a los clásicos o sus propias composiciones.</p>
        </div>
        <div class="col">
            Arthur, padre de John, se quedó en Sudáfrica al cargo de la venta de diamantes y otras piedras preciosas al Banco de Inglaterra. Sin embargo, Arthur falleció el 15 de febrero de 1896 a causa de una fiebre reumática. Después de tan trágica pérdida y sin ingresos, Mabel se fue a vivir con sus hijos junto a su familia en Birmingham, mudándose ese mismo año a la vecina localidad de Sarehole. La gran belleza de la campiña inglesa cautivó a John desde el primer momento, causándole una gran impresión, como queda patente en sus escritos. La madre de John, Mabel, se hizo cargo de su educación, enseñándole las bases del latín cuando apenas contaba 4 años, edad a la que el pequeño John ya sabía leer, y poco después, escribir de forma fluida. A tan tierna edad, ya se despertó en John su curiosidad y amor hacia los idiomas, pues uno de sus entretenimientos favoritos era el de inventar algunos idiomas propios.
            <img style="width: 250px; height: 250px" src="https://cdn.domestika.org/c_fit,dpr_1.0,f_auto,t_base_params,w_820/v1600296776/content-items/005/792/784/JRR_TOLKIEN-original.jpg" alt="imageJrrT">
        </div>
        </div>
    </div>
    </div>
</div>
