


<h1>Galeria de J.R.R. Tolkien</h1>
<!-- Gallery -->
<div class=“row”>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://thecouch.world/wp-content/uploads/2021/01/lord-of-the-rings-wallpaper-1920%C3%971080-1.jpg"
      class= "w-100 shadow-1-strong rounded mb-4" alt="imagen1"/>
    <img
      src="https://wallpapercave.com/wp/0pNldyU.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="imagen2"/>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://wallpapercave.com/wp/9Q99GaV.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="imagen3"/>
    <img
      src="https://wallpapercave.com/wp/lXw8zYU.jpg"
      class= "w-100 shadow-1-strong rounded mb-4"
      alt="imagen4"/>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://wallpapercave.com/wp/FNoDYzb.jpg"
      class= "w-100 shadow-1-strong rounded mb-4"
      alt="imagen5"/>
    <img
      src="https://wallpapercave.com/wp/aj3FVjM.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="imagen6"/>
  </div>
</div>
