

    <div class="backgr3">
          <h1 class="title3">Libros de John Ronald Reuel Tolkien</h1>
    </div>


<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Año</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">La naturaleza de la Tierra Media</th>
      <td>2021</td>
    </tr>
    <tr>
      <th scope="row">La Caída de Gondolin</th>
      <td>2019</td>
    </tr>
    <tr>
      <th scope="row">Beren y Lúthien</th>
      <td>2018</td>
    </tr>
    <tr>
      <th scope="row">La historia de Kullervo</th>
      <td>2016</td>
    </tr>
    <tr>
      <th scope="row">Beowulf</th>
      <td>2015</td>
    </tr>
    <tr>
      <th scope="row">La caída de Arturo</th>
      <td>2013</td>
    </tr>
    <tr>
      <th scope="row">El arte de El Hobbit</th>
      <td>2012</td>
    </tr>
    <tr>
      <th scope="row">La última canción de Bilbo</th>
      <td>2010</td>
    </tr>
    <tr>
      <th scope="row">La leyenda de Sigurd y Gudrún</th>
      <td>2009</td>
    </tr>
    <tr>
      <th scope="row">Cuentos desde el reino peligroso</th>
      <td>2009</td>
    </tr>
    <tr>
      <th scope="row">Los hijos de Húrin</th>
      <td>2007</td>
    </tr>
    <tr>
      <th scope="row">Roverandom</th>
      <td>1998</td>
    </tr>
    <tr>
      <th scope="row">Los pueblos de la Tierra Media. La historia de la Tierra Media XII</th>
      <td>1996</td>
    </tr>
    <tr>
      <th scope="row">La guerra de las joyas. La historia de la Tierra Media XI</th>
      <td>1994</td>
    </tr>
    <tr>
      <th scope="row">El anillo de Morgoth. La historia de la Tierra Media X</th>
      <td>1994</td>
    </tr>
    <tr>
      <th scope="row">El fin de la tercera edad. La historia de la Tierra Media IX</th>
      <td>1992</td>
    </tr>
    <tr>
      <th scope="row">La guerra del anillo. La historia de la Tierra Media VIII</th>
      <td>1990</td>
    </tr>
    <tr>
      <th scope="row">La traición de Isengard. La historia de la Tierra Media VII</th>
      <td>1989</td>
    </tr>
    <tr>
      <th scope="row">El Silmarillion</th>
      <td>1977</td>
    </tr>
    <tr>
      <th scope="row">El retorno del rey (El señor de los anillos III)</th>
      <td>1955</td>
    </tr>
    <tr>
      <th scope="row">Las dos torres (El señor de los anillos II)</th>
      <td>1954</td>
    </tr>
    <tr>
      <th scope="row">La comunidad del anillo (El señor de los anillos I)</th>
      <td>1954</td>
    </tr>
    <tr>
      <th scope="row">El hobbit</th>
      <td>1937</td>
    </tr>
  </tbody>
</table>
